<!DOCTYPE html>
<html lang="<%= locale || 'es' %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> - LYN AutoSales</title>
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/assets/styles.css?<%= Date.now() %>">
</head>
<body>

  <!-- HEADER global -->
  <%- include('partials/header') %>

  <!-- Contenido dinámico -->
  <main>
    <%- body %>
  </main>

  <!-- FOOTER global -->
  <%- include('partials/footer') %>

</body>
</html>
